#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.parameter-row {
  display: flex;
  padding: 5px;
  font-size: 20px;
  vertical-align: middle;

  input,
  label {
    display: inline-block;
    font-size: 20px;
    width: 50%;
    text-align: center;
  }

  button {
    flex: 1;
  }
}

.operations-row {

  display: flex;
  button {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
  }

  button:first-child {
    margin-left: 0;
  }

  button:last-child {
    margin-right: 0;
  }

  button.selected {
    border-width: 2px;
    border-color: white;
  }
}

.question-container {
  display: flex;
  padding: 5px;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}

.question-container span {
  width: 30px;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
}

.question-container input {
  width: 100px;
  padding: 5px;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}
